@using TravelPlan.Models.Dto.Area.City;
@using TravelPlan.Models.Dto.Area.Country;
@model TravelPlan.Models.Dto.Main.Search.SearchByNameDto
@{
    var Countries = ViewBag.ListCountry as List<CountryListDto>;
    var Cities = ViewBag.ListCity as List<CityListDto>;
}
<!-- Page container-->
<div class="container-fluid mt-5 pt-5 p-0">
    <div class="row g-0 mt-n3">
        <!-- Filters sidebar (Offcanvas on mobile)-->
        <!-- Page content-->
        <div class="col-lg-12 col-xl-12 position-relative overflow-hidden pb-5 pt-4 px-3 px-xl-4 px-xxl-5">
            <!-- Map popup-->
            <div class="map-popup invisible" id="map">
                <button class="btn btn-icon btn-light btn-sm shadow-sm rounded-circle" type="button" data-bs-toggle-class="invisible" data-bs-target="#map"><i class="fi-x fs-xs"></i></button>
                <div class="interactive-map" data-map-options-json="json/map-options-city-guide.json"></div>
            </div>
            <!-- Breadcrumb-->
            <!-- Title-->
            <div class="d-sm-flex align-items-center justify-content-between pb-3 pb-sm-4">
                <h1 class="h2 mb-sm-0">جستجو بر اساس <span style="color:#fd5631 !important">@Model.Name</span></h1>
            </div>
            <!-- Sorting-->
            <div class="d-flex flex-sm-row flex-column align-items-sm-center align-items-stretch my-2">
                <hr class="d-none d-sm-block w-100 mx-4">
                <div class="d-none d-sm-flex align-items-center flex-shrink-0 text-muted"><i class="fi-check-circle me-2"></i><span class="fs-sm mt-n1">@Model.TotalOfFound نتیجه یافت شد</span></div>
            </div>
            <!-- Catalog grid-->
            <div class="row row-cols-xl-3 row-cols-sm-2 row-cols-1 gy-4 gx-3 gx-xxl-4 py-4">

                <!-- Item-->
                @foreach (var item in Model.ListTrips)
                {
                    string NameCountry = Countries.Where(x => x.Id == item.CountryId).Select(x => x.Name).FirstOrDefault();
                    string NameCity = Cities.Where(x => x.Id == item.CityId).Select(x => x.Name).FirstOrDefault();
                    <div>
                        <div class="position-relative">
                            <div class="position-relative mb-3">
                                <img class="rounded-3" src="/@item.IndexImage"
                                     alt="@item.ImageAlt" title="@item.ImageTitle">
                            </div>
                            <h3 class="mb-2 fs-lg">
                                <a class="nav-link stretched-link" href="/Trip/@item.Slug">
                                    @item.Name
                                </a>
                            </h3>
                            <ul class="list-inline mb-0 fs-sm">
                                <li class="list-inline-item pe-1">
                                    <i class="fi-map-pin mt-n1 me-1 fs-base text-muted align-middle"></i>@NameCountry , @NameCity
                                </li>
                            </ul>
                        </div>
                    </div>
                }
                <!-- Item-->
                @foreach (var item in Model.ListRestaurants)
                {
                    string NameCountry = Countries.Where(x => x.Id == item.CountryId).Select(x => x.Name).FirstOrDefault();
                string NameCity = Cities.Where(x => x.Id == item.CityId).Select(x => x.Name).FirstOrDefault();
                    <div>
                        <div class="position-relative">
                            <div class="position-relative mb-3">
                                <img class="rounded-3" src="/@item.IndexImage"
                                     alt="@item.ImageAlt" title="@item.ImageTitle">
                            </div>
                            <h3 class="mb-2 fs-lg">
                                <a class="nav-link stretched-link" href="/Restaurant/@item.Slug">
                                    @item.Name
                                </a>
                            </h3>
                            <ul class="list-inline mb-0 fs-sm">
                                <li class="list-inline-item pe-1">
                                    <i class="fi-map-pin mt-n1 me-1 fs-base text-muted align-middle"></i>@NameCountry , @NameCity
                                </li>
                            </ul>
                        </div>
                    </div>
                }
                <!-- Item-->
                @foreach (var item in Model.ListHotels)
                {
                    string NameCountry = Countries.Where(x => x.Id == item.CountryId).Select(x => x.Name).FirstOrDefault();
                string NameCity = Cities.Where(x => x.Id == item.CityId).Select(x => x.Name).FirstOrDefault();
                    <div>
                        <div class="position-relative">
                            <div class="position-relative mb-3">
                                <img class="rounded-3" src="/@item.IndexImage"
                                     alt="@item.ImageAlt" title="@item.ImageTitle">
                            </div>
                            <h3 class="mb-2 fs-lg">
                                <a class="nav-link stretched-link" href="/Hotel/@item.Slug">
                                    @item.Name
                                </a>
                            </h3>
                            <ul class="list-inline mb-0 fs-sm">
                                <li class="list-inline-item pe-1">
                                    <i class="fi-map-pin mt-n1 me-1 fs-base text-muted align-middle"></i>@NameCountry , @NameCity
                                </li>
                            </ul>
                        </div>
                    </div>
                }
                @* <!-- Item-->
                <div class="col pb-sm-2">
                <article class="position-relative">
                <div class="position-relative mb-3">
                <button class="btn btn-icon btn-light-primary btn-xs text-primary rounded-circle position-absolute top-0 end-0 m-3 zindex-5" type="button" data-bs-toggle="tooltip" data-bs-placement="right" title="نشان کردن"><i class="fi-heart"></i></button><img class="rounded-3" src="img/city-guide/catalog/01.jpg" alt="Article img">
                </div>
                <h3 class="mb-2 fs-lg"><a class="nav-link stretched-link" href="city-guide-single.html">هتل تجاری برلین</a></h3>
                <ul class="list-inline mb-0 fs-sm">
                <li class="list-inline-item pe-1"><i class="fi-star-filled mt-n1 me-1 fs-base text-warning align-middle"></i><b>5.0</b><span class="text-muted">&nbsp;(48)</span></li>
                <li class="list-inline-item pe-1"><i class="fi-credit-card mt-n1 me-1 fs-base text-muted align-middle"></i>150000 تومان</li>
                <li class="list-inline-item pe-1"><i class="fi-map-pin mt-n1 me-1 fs-base text-muted align-middle"></i>1.4 کیلومتر از فرودگاه</li>
                </ul>
                </article>
                </div>
                <!-- Item-->
                <div class="col pb-sm-2">
                <article class="position-relative">
                <div class="position-relative mb-3">
                <button class="btn btn-icon btn-light-primary btn-xs text-primary rounded-circle position-absolute top-0 end-0 m-3 zindex-5" type="button" data-bs-toggle="tooltip" data-bs-placement="right" title="نشان کردن"><i class="fi-heart"></i></button><img class="rounded-3" src="img/city-guide/catalog/02.jpg" alt="Article img">
                </div>
                <h3 class="mb-2 fs-lg"><a class="nav-link stretched-link" href="city-guide-single.html">باغ ویلای شب بهشت</a></h3>
                <ul class="list-inline mb-0 fs-sm">
                <li class="list-inline-item pe-1"><i class="fi-star-filled mt-n1 me-1 fs-base text-warning align-middle"></i><b>4.9</b><span class="text-muted">&nbsp;(43)</span></li>
                <li class="list-inline-item pe-1"><i class="fi-credit-card mt-n1 me-1 fs-base text-muted align-middle"></i>750000 تومان</li>
                <li class="list-inline-item pe-1"><i class="fi-map-pin mt-n1 me-1 fs-base text-muted align-middle"></i>1.8 کیلومتر از فرودگاه</li>
                </ul>
                </article>
                </div>
                <!-- Item-->
                <div class="col pb-sm-2">
                <article class="position-relative">
                <div class="position-relative mb-3">
                <button class="btn btn-icon btn-light-primary btn-xs text-primary rounded-circle position-absolute top-0 end-0 m-3 zindex-5" type="button" data-bs-toggle="tooltip" data-bs-placement="right" title="نشان کردن"><i class="fi-heart"></i></button><img class="rounded-3" src="img/city-guide/catalog/03.jpg" alt="Article img">
                </div>
                <h3 class="mb-2 fs-lg"><a class="nav-link stretched-link" href="city-guide-single.html">کلبه درختی بزرگ</a></h3>
                <ul class="list-inline mb-0 fs-sm">
                <li class="list-inline-item pe-1"><i class="fi-star-filled mt-n1 me-1 fs-base text-warning align-middle"></i><b>4.8</b><span class="text-muted">&nbsp;(24)</span></li>
                <li class="list-inline-item pe-1"><i class="fi-credit-card mt-n1 me-1 fs-base text-muted align-middle"></i>1850000 تومان</li>
                <li class="list-inline-item pe-1"><i class="fi-map-pin mt-n1 me-1 fs-base text-muted align-middle"></i>0.5 کیلومتر از مرکز شهر</li>
                </ul>
                </article>
                </div>
                <!-- Item-->
                <div class="col pb-sm-2">
                <article class="position-relative">
                <div class="position-relative mb-3">
                <button class="btn btn-icon btn-light-primary btn-xs text-primary rounded-circle position-absolute top-0 end-0 m-3 zindex-5" type="button" data-bs-toggle="tooltip" data-bs-placement="right" title="نشان کردن"><i class="fi-heart"></i></button><img class="rounded-3" src="img/city-guide/catalog/04.jpg" alt="Article img">
                </div>
                <h3 class="mb-2 fs-lg"><a class="nav-link stretched-link" href="city-guide-single.html">اقامتگاه 3 آلند ویلا</a></h3>
                <ul class="list-inline mb-0 fs-sm">
                <li class="list-inline-item pe-1"><i class="fi-star-filled mt-n1 me-1 fs-base text-warning align-middle"></i><b>5.0</b><span class="text-muted">&nbsp;(12)</span></li>
                <li class="list-inline-item pe-1"><i class="fi-credit-card mt-n1 me-1 fs-base text-muted align-middle"></i>145000 تومان</li>
                <li class="list-inline-item pe-1"><i class="fi-map-pin mt-n1 me-1 fs-base text-muted align-middle"></i>3.2 کیلومتر از فرودگاه</li>
                </ul>
                </article>
                </div>
                <!-- Item-->
                <div class="col pb-sm-2">
                <article class="position-relative">
                <div class="position-relative mb-3">
                <button class="btn btn-icon btn-light-primary btn-xs text-primary rounded-circle position-absolute top-0 end-0 m-3 zindex-5" type="button" data-bs-toggle="tooltip" data-bs-placement="right" title="نشان کردن"><i class="fi-heart"></i></button><img class="rounded-3" src="img/city-guide/catalog/05.jpg" alt="Article img">
                </div>
                <h3 class="mb-2 fs-lg"><a class="nav-link stretched-link" href="city-guide-single.html">اقامتگاه سنتی سهروردی</a></h3>
                <ul class="list-inline mb-0 fs-sm">
                <li class="list-inline-item pe-1"><i class="fi-star-filled mt-n1 me-1 fs-base text-warning align-middle"></i><b>4.0</b><span class="text-muted">&nbsp;(9)</span></li>
                <li class="list-inline-item pe-1"><i class="fi-credit-card mt-n1 me-1 fs-base text-muted align-middle"></i>25000 تومان</li>
                <li class="list-inline-item pe-1"><i class="fi-map-pin mt-n1 me-1 fs-base text-muted align-middle"></i>2.1 کیلومتر از ساحل</li>
                </ul>
                </article>
                </div>
                <!-- Item-->
                <div class="col pb-sm-2">
                <article class="position-relative">
                <div class="position-relative mb-3">
                <button class="btn btn-icon btn-light-primary btn-xs text-primary rounded-circle position-absolute top-0 end-0 m-3 zindex-5" type="button" data-bs-toggle="tooltip" data-bs-placement="right" title="نشان کردن"><i class="fi-heart"></i></button><img class="rounded-3" src="img/city-guide/catalog/06.jpg" alt="Article img">
                </div>
                <h3 class="mb-2 fs-lg"><a class="nav-link stretched-link" href="city-guide-single.html">هتل صفوی اصفهان</a></h3>
                <ul class="list-inline mb-0 fs-sm">
                <li class="list-inline-item pe-1"><i class="fi-star-filled mt-n1 me-1 fs-base text-warning align-middle"></i><b>4.8</b><span class="text-muted">&nbsp;(32)</span></li>
                <li class="list-inline-item pe-1"><i class="fi-credit-card mt-n1 me-1 fs-base text-muted align-middle"></i>48000 تومان</li>
                <li class="list-inline-item pe-1"><i class="fi-map-pin mt-n1 me-1 fs-base text-muted align-middle"></i>1.9 کیلومتر از بازار</li>
                </ul>
                </article>
                </div>
                <!-- Item-->
                <div class="col pb-sm-2">
                <article class="position-relative">
                <div class="position-relative mb-3">
                <button class="btn btn-icon btn-light-primary btn-xs text-primary rounded-circle position-absolute top-0 end-0 m-3 zindex-5" type="button" data-bs-toggle="tooltip" data-bs-placement="right" title="نشان کردن"><i class="fi-heart"></i></button><img class="rounded-3" src="img/city-guide/catalog/07.jpg" alt="Article img">
                </div>
                <h3 class="mb-2 fs-lg"><a class="nav-link stretched-link" href="city-guide-single.html">هتل شیخ بهایی</a></h3>
                <ul class="list-inline mb-0 fs-sm">
                <li class="list-inline-item pe-1"><i class="fi-star-filled mt-n1 me-1 fs-base text-warning align-middle"></i><b>4.5</b><span class="text-muted">&nbsp;(13)</span></li>
                <li class="list-inline-item pe-1"><i class="fi-credit-card mt-n1 me-1 fs-base text-muted align-middle"></i>65000 تومان</li>
                <li class="list-inline-item pe-1"><i class="fi-map-pin mt-n1 me-1 fs-base text-muted align-middle"></i>0.4 کیلومتر از فرودگاه</li>
                </ul>
                </article>
                </div>
                <!-- Item-->
                <div class="col pb-sm-2">
                <article class="position-relative">
                <div class="position-relative mb-3">
                <button class="btn btn-icon btn-light-primary btn-xs text-primary rounded-circle position-absolute top-0 end-0 m-3 zindex-5" type="button" data-bs-toggle="tooltip" data-bs-placement="right" title="نشان کردن"><i class="fi-heart"></i></button><img class="rounded-3" src="img/city-guide/catalog/08.jpg" alt="Article img">
                </div>
                <h3 class="mb-2 fs-lg"><a class="nav-link stretched-link" href="city-guide-single.html">هتل کریمخان شیراز</a></h3>
                <ul class="list-inline mb-0 fs-sm">
                <li class="list-inline-item pe-1"><i class="fi-star-filled mt-n1 me-1 fs-base text-warning align-middle"></i><b>5.0</b><span class="text-muted">&nbsp;(17)</span></li>
                <li class="list-inline-item pe-1"><i class="fi-credit-card mt-n1 me-1 fs-base text-muted align-middle"></i>780000 تومان</li>
                <li class="list-inline-item pe-1"><i class="fi-map-pin mt-n1 me-1 fs-base text-muted align-middle"></i>1.6 کیلومتر از بازار</li>
                </ul>
                </article>
                </div>
                <!-- Item-->
                <div class="col pb-sm-2">
                <article class="position-relative">
                <div class="position-relative mb-3">
                <button class="btn btn-icon btn-light-primary btn-xs text-primary rounded-circle position-absolute top-0 end-0 m-3 zindex-5" type="button" data-bs-toggle="tooltip" data-bs-placement="right" title="نشان کردن"><i class="fi-heart"></i></button><img class="rounded-3" src="img/city-guide/catalog/09.jpg" alt="Article img">
                </div>
                <h3 class="mb-2 fs-lg"><a class="nav-link stretched-link" href="city-guide-single.html">هتل پارک سعدی</a></h3>
                <ul class="list-inline mb-0 fs-sm">
                <li class="list-inline-item pe-1"><i class="fi-star-filled mt-n1 me-1 fs-base text-warning align-middle"></i><b>5.0</b><span class="text-muted">&nbsp;(45)</span></li>
                <li class="list-inline-item pe-1"><i class="fi-credit-card mt-n1 me-1 fs-base text-muted align-middle"></i>170000 تومان</li>
                <li class="list-inline-item pe-1"><i class="fi-map-pin mt-n1 me-1 fs-base text-muted align-middle"></i>1.4 کیلومتر از فرودگاه</li>
                </ul>
                </article>
                </div>
                <!-- Item-->
                <div class="col pb-sm-2">
                <article class="position-relative">
                <div class="position-relative mb-3">
                <button class="btn btn-icon btn-light-primary btn-xs text-primary rounded-circle position-absolute top-0 end-0 m-3 zindex-5" type="button" data-bs-toggle="tooltip" data-bs-placement="right" title="نشان کردن"><i class="fi-heart"></i></button><img class="rounded-3" src="img/city-guide/catalog/10.jpg" alt="Article img">
                </div>
                <h3 class="mb-2 fs-lg"><a class="nav-link stretched-link" href="city-guide-single.html">هتل باغ مشیر الممالک</a></h3>
                <ul class="list-inline mb-0 fs-sm">
                <li class="list-inline-item pe-1"><i class="fi-star-filled mt-n1 me-1 fs-base text-warning align-middle"></i><b>4.0</b><span class="text-muted">&nbsp;(15)</span></li>
                <li class="list-inline-item pe-1"><i class="fi-credit-card mt-n1 me-1 fs-base text-muted align-middle"></i>45000 تومان</li>
                <li class="list-inline-item pe-1"><i class="fi-map-pin mt-n1 me-1 fs-base text-muted align-middle"></i>1.7 کیلومتر از دریا</li>
                </ul>
                </article>
                </div>
                <!-- Item-->
                <div class="col pb-sm-2">
                <article class="position-relative">
                <div class="position-relative mb-3">
                <button class="btn btn-icon btn-light-primary btn-xs text-primary rounded-circle position-absolute top-0 end-0 m-3 zindex-5" type="button" data-bs-toggle="tooltip" data-bs-placement="right" title="نشان کردن"><i class="fi-heart"></i></button><img class="rounded-3" src="img/city-guide/catalog/11.jpg" alt="Article img">
                </div>
                <h3 class="mb-2 fs-lg"><a class="nav-link stretched-link" href="city-guide-single.html">هتل ارگ جدید یزد</a></h3>
                <ul class="list-inline mb-0 fs-sm">
                <li class="list-inline-item pe-1"><i class="fi-star-filled mt-n1 me-1 fs-base text-warning align-middle"></i><b>4.6</b><span class="text-muted">&nbsp;(10)</span></li>
                <li class="list-inline-item pe-1"><i class="fi-credit-card mt-n1 me-1 fs-base text-muted align-middle"></i>25000 تومان</li>
                <li class="list-inline-item pe-1"><i class="fi-map-pin mt-n1 me-1 fs-base text-muted align-middle"></i>2.4 کیلومتر از فرودگاه</li>
                </ul>
                </article>
                </div>
                <!-- Item-->
                <div class="col pb-sm-2">
                <article class="position-relative">
                <div class="position-relative mb-3">
                <button class="btn btn-icon btn-light-primary btn-xs text-primary rounded-circle position-absolute top-0 end-0 m-3 zindex-5" type="button" data-bs-toggle="tooltip" data-bs-placement="right" title="نشان کردن"><i class="fi-heart"></i></button><img class="rounded-3" src="img/city-guide/catalog/12.jpg" alt="Article img">
                </div>
                <h3 class="mb-2 fs-lg"><a class="nav-link stretched-link" href="city-guide-single.html">مسافرخانه صفائیه</a></h3>
                <ul class="list-inline mb-0 fs-sm">
                <li class="list-inline-item pe-1"><i class="fi-star-filled mt-n1 me-1 fs-base text-warning align-middle"></i><b>4.9</b><span class="text-muted">&nbsp;(10)</span></li>
                <li class="list-inline-item pe-1"><i class="fi-credit-card mt-n1 me-1 fs-base text-muted align-middle"></i>56000 تومان</li>
                <li class="list-inline-item pe-1"><i class="fi-map-pin mt-n1 me-1 fs-base text-muted align-middle"></i>1.1 کیلومتر از مرکز شهر</li>
                </ul>
                </article>
                </div>
                <!-- Item-->
                <div class="col pb-sm-2">
                <article class="position-relative">
                <div class="position-relative mb-3">
                <button class="btn btn-icon btn-light-primary btn-xs text-primary rounded-circle position-absolute top-0 end-0 m-3 zindex-5" type="button" data-bs-toggle="tooltip" data-bs-placement="right" title="نشان کردن"><i class="fi-heart"></i></button><img class="rounded-3" src="img/city-guide/catalog/13.jpg" alt="Article img">
                </div>
                <h3 class="mb-2 fs-lg"><a class="nav-link stretched-link" href="city-guide-single.html">آپارتمان فیروزه یزد</a></h3>
                <ul class="list-inline mb-0 fs-sm">
                <li class="list-inline-item pe-1"><i class="fi-star-filled mt-n1 me-1 fs-base text-warning align-middle"></i><b>5.0</b><span class="text-muted">&nbsp;(12)</span></li>
                <li class="list-inline-item pe-1"><i class="fi-credit-card mt-n1 me-1 fs-base text-muted align-middle"></i>23000 </li>
                <li class="list-inline-item pe-1"><i class="fi-map-pin mt-n1 me-1 fs-base text-muted align-middle"></i>4.7 کیلومتر از بازار</li>
                </ul>
                </article>
                </div>
                <!-- Item-->
                <div class="col pb-sm-2">
                <article class="position-relative">
                <div class="position-relative mb-3">
                <button class="btn btn-icon btn-light-primary btn-xs text-primary rounded-circle position-absolute top-0 end-0 m-3 zindex-5" type="button" data-bs-toggle="tooltip" data-bs-placement="right" title="نشان کردن"><i class="fi-heart"></i></button><img class="rounded-3" src="img/city-guide/catalog/14.jpg" alt="Article img">
                </div>
                <h3 class="mb-2 fs-lg"><a class="nav-link stretched-link" href="city-guide-single.html">هتل کاروانسرای مشیر</a></h3>
                <ul class="list-inline mb-0 fs-sm">
                <li class="list-inline-item pe-1"><i class="fi-star-filled mt-n1 me-1 fs-base text-warning align-middle"></i><b>4.9</b><span class="text-muted">&nbsp;(12)</span></li>
                <li class="list-inline-item pe-1"><i class="fi-credit-card mt-n1 me-1 fs-base text-muted align-middle"></i>45000 تومان</li>
                <li class="list-inline-item pe-1"><i class="fi-map-pin mt-n1 me-1 fs-base text-muted align-middle"></i>0.4 کیلومتر از فرودگاه</li>
                </ul>
                </article>
                </div>
                <!-- Item-->
                <div class="col pb-sm-2">
                <article class="position-relative">
                <div class="position-relative mb-3">
                <button class="btn btn-icon btn-light-primary btn-xs text-primary rounded-circle position-absolute top-0 end-0 m-3 zindex-5" type="button" data-bs-toggle="tooltip" data-bs-placement="right" title="نشان کردن"><i class="fi-heart"></i></button><img class="rounded-3" src="img/city-guide/catalog/15.jpg" alt="Article img">
                </div>
                <h3 class="mb-2 fs-lg"><a class="nav-link stretched-link" href="city-guide-single.html">هتل سنتی پارس</a></h3>
                <ul class="list-inline mb-0 fs-sm">
                <li class="list-inline-item pe-1"><i class="fi-star-filled mt-n1 me-1 fs-base text-warning align-middle"></i><b>4.9</b><span class="text-muted">&nbsp;(52)</span></li>
                <li class="list-inline-item pe-1"><i class="fi-credit-card mt-n1 me-1 fs-base text-muted align-middle"></i>89000 تومان</li>
                <li class="list-inline-item pe-1"><i class="fi-map-pin mt-n1 me-1 fs-base text-muted align-middle"></i>1.5 کیلومتر از بازار</li>
                </ul>
                </article>
                </div>
                </div> *@
                <!-- Pagination-->

            </div>
        </div>
    </div>
