@using TravelPlan.Models.Dto.Area.City;
@using TravelPlan.Models.Dto.Area.Country;
@model List<TravelPlan.Models.Dto.Area.Restaurant.RestaurantListDto>
@{
    var Countries = ViewBag.ListCountry as List<CountryListDto>;
    var Cities = ViewBag.ListCity as List<CityListDto>;
}
<!-- Where to eat-->
<div class="col-lg-8">
    <div class="d-flex align-items-center justify-content-between mb-4 pb-2">
        <h2 class="h4 mb-0 font-vazir">جدیدترین رستوران ها</h2>
    </div>
    <div class="row">
        <div class="col-sm-6">
            @foreach (var item in Model.Take(3))
            {
                string NameCountry = Countries.Where(x => x.Id == item.CountryId).Select(x => x.Name).FirstOrDefault();
                string NameCity = Cities.Where(x => x.Id == item.CityId).Select(x => x.Name).FirstOrDefault();
                <!-- Item-->
                <div class="d-flex align-items-start position-relative mb-4">
                    <img class="flex-shrink-0 me-3 rounded-3"
                         src="@item.IndexImage" alt="@item.ImageAlt" title="@item.ImageTitle" style="width: 100px !important;height: 100px !important;">
                    <div>
                        <h3 class="mb-2 fs-lg">
                            <a class="nav-link stretched-link" href="/Restaurant/@item.Slug">
                                @item.Name
                            </a>
                        </h3>
                        <ul class="list-unstyled mb-0 fs-sm">
                            <li><i class="fi-map-pin mt-n1 me-1 fs-base text-muted align-middle"></i>@NameCountry , @NameCity</li>
                        </ul>
                    </div>
                </div>
            }
        </div>
        <div class="col-sm-6">
            @foreach (var item in Model.Skip(3).Take(3))
            {
                string NameCountry = Countries.Where(x => x.Id == item.CountryId).Select(x => x.Name).FirstOrDefault();
                string NameCity = Cities.Where(x => x.Id == item.CityId).Select(x => x.Name).FirstOrDefault();
                <!-- Item-->
                <div class="d-flex align-items-start position-relative mb-4">
                    <img class="flex-shrink-0 me-3 rounded-3"
                         src="@item.IndexImage" alt="@item.ImageAlt" title="@item.ImageTitle" style="width: 100px;height: 100px;">
                    <div>
                        <h3 class="mb-2 fs-lg">
                            <a class="nav-link stretched-link" href="/Restaurant/@item.Slug">
                                @item.Name
                            </a>
                        </h3>
                        <ul class="list-unstyled mb-0 fs-sm">
                            <li><i class="fi-map-pin mt-n1 me-1 fs-base text-muted align-middle"></i>@NameCountry , @NameCity</li>
                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>
</div>