@model TravelPlan.Models.Dto.Area.Ads.AdsDto

<aside class="col-lg-3">
    <div class="div-gif">
        <a href="@Model.GifPhotoLink1">
            <img src="~/@Model.GifAddress1" alt="@Model.GifAlt1" title="@Model.GifTitle1">  
        </a>
    </div>
    <div class="div-gif">
        <a href="@Model.GifPhotoLink2">
            <img src="~/@Model.GifAddress2" alt="@Model.GifAlt2" title="@Model.GifTitle2">
        </a>
    </div>
    <div class="div-gif">
        <a href="@Model.GifPhotoLink3">
            <img src="~/@Model.GifAddress3" alt="@Model.GifAlt3" title="@Model.GifTitle3">
        </a>
    </div>
    <div class="div-gif">
        <a href="@Model.GifPhotoLink4">
            <img src="~/@Model.GifAddress4" alt="@Model.GifAlt4" title="@Model.GifTitle4">
        </a>
    </div>
    <div class="div-gif">
        <a href="@Model.GifPhotoLink5">
            <img src="~/@Model.GifAddress5" alt="@Model.GifAlt5" title="@Model.GifTitle5">
        </a>
    </div>
    <div class="div-gif">
        <a href="@Model.GifPhotoLink6">
            <img src="~/@Model.GifAddress6" alt="@Model.GifAlt6" title="@Model.GifTitle6">
        </a>
    </div>
</aside>